/* styles.css */

/* Style the container */
.container {
    margin-top: 50px;
}

/* Style the card */
.card {
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Style the card body */
.card-body {
    padding: 40px;
}

/* Style the card title */
.card-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333; /* Darken the text color */
}

/* Style the card image */
.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Style the property details */
.property-details {
    margin-top: 30px;
}

.property-details p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #666; /* Adjust the text color */
}

/* Style the agent details */
.agent-details {
    margin-top: 30px;
}

.agent-details p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #666; /* Adjust the text color */
}

/* Style the agent section title */
.agent-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333; /* Darken the text color */
}
