{% extends 'base.html' %}
{% block title %}Add Property{% endblock %}

{% block content %}
<div class="container">
    <h2>Add Property</h2>
    
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-dismissible">
        {% for message in messages %}
        <div class="alert alert-{{ message[1] }}" role="alert">
            {{ message[0] }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="title" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea name="description" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" name="price" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Number of Bedrooms</label>
            <input type="number" name="num_bedrooms" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Number of Bathrooms</label>
            <input type="number" name="num_bathrooms" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Area (in square meters)</label>
            <input type="number" name="area" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Location</label>
            <input type="text" name="location" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Images</label>
            <input type="file" name="image" class="form-control" multiple accept="image/*" required>
        </div>
        <div class="form-group">
            <label>Year Built</label>
            <input type="number" name="year_built" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Property Type</label>
            <input type="text" name="property_type" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Amenities</label>
            <input type="text" name="amenities" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
