{% extends 'base.html' %}
{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container">
    <div class="contact-info">
        <h2>Contact Us</h2>
        <p>We'd love to hear from you. Please fill out the form below to get in touch.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="contact-form">
                    <form method="POST" action="{{ url_for('contact') }}">
                        <div class="form-group">
                            <label for="name">Your Name:</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Your Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message:</label>
                            <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-details">
                    <h3>Contact Details</h3>
                    <p><strong>Email:</strong> info@example.com</p>
                    <p><strong>Phone:</strong> +1234567890</p>
                    <p><strong>Address:</strong> 123 Main Street, City, Country</p>
                </div>
            </div>
        </div>
    </div>

    <!-- WhatsApp Chat Button -->
    <a href="https://wa.me/+250788244880?text=Hello%20there!" target="_blank" class="btn btn-success whatsapp-btn">
        <img src="{{ url_for('static', filename='whatsapp-icon.png') }}" alt="WhatsApp Icon"> Chat with us on WhatsApp
    </a>
</div>
{% endblock %}
