{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h2>Welcome to Your Dashboard, {{ current_user.username }}</h2>

    <!-- Display user information -->
    <div class="user-info">
        <p><strong>Username:</strong> {{ current_user.username }}</p>
        <p><strong>Email:</strong> {{ current_user.email }}</p>
    </div>

    <!-- Actions -->
    <div class="actions">
        <h3>Actions</h3>
        <ul>
            <li><a href="{{ url_for('add_property') }}" class="btn btn-primary">Add Property</a></li>
            <li><a href="{{ url_for('edit_profile') }}" class="btn btn-secondary">Edit Profile</a></li>
            <li><a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a></li>
        </ul>
    </div>

    <!-- Display properties -->
    <div class="properties">
        <h3>Your Properties</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Number of Bedrooms</th>
                    <th>Number of Bathrooms</th>
                    <!-- Add more headers as needed -->
                </tr>
            </thead>
            <tbody>
                {% for property in current_user.properties %}
                <tr>
                    <td>{{ property.title }}</td>
                    <td>{{ property.description }}</td>
                    <td>{{ property.price }}</td>
                    <td>{{ property.num_bedrooms }}</td>
                    <td>{{ property.num_bathrooms }}</td>
                    <!-- Add more columns as needed -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
