<!-- properties.html -->
{% extends "base.html" %}

{% block title %}Properties - Real Estate App{% endblock %}

{% block styles %}
    <style>
        /* Add custom styles for properties.html */
        .property-card {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .property-image {
            max-width: 100%;
            height: auto;
            border-radius: 6px;
        }

        .property-title {
            font-size: 20px;
            font-weight: bold;
            margin-top: 10px;
            color: #333;
        }

        .property-price {
            font-size: 18px;
            color: #007bff;
            margin-top: 5px;
        }

        .property-location {
            font-size: 16px;
            color: #666;
            margin-top: 5px;
        }

        .property-description {
            font-size: 16px;
            color: #444;
            margin-top: 10px;
        }

        .view-details {
            background-color: black;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 60px;
            font-size: 16px;
            transition: background-color 0.3s ease;
            margin-top: 10px;
            display: block; /* Make the button full-width */
        }

        .btn-view-details:hover {
            background-color: #0056b3;
            color: #fff;
        }

        .btn-contact-agent {
            background-color: #28a745; /* Green color for contact agent button */
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            transition: background-color 0.3s ease;
            margin-top: 10px;
            display: block; /* Make the button full-width */
        }

        .btn-contact-agent:hover {
            background-color: #218838; /* Darker green color on hover */
            color: #fff;
        }

        .pagination {
            justify-content: center;
            margin-top: 30px;
        }

        .page-item.active .page-link {
            background-color: #007bff;
            border-color: #007bff;
        }

        .page-link {
            color: #007bff;
            border: 1px solid #007bff;
        }

        .page-link:hover {
            color: #0056b3;
            border-color: #0056b3;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="mb-4">Properties</h1>
    <div class="row">
        {% for property in properties %}
        <div class="col-md-4">
            <div class="property-card">
                {% if property.images %}
                <img src="{{ property.images[0].url }}" alt="{{ property.title }}">
                {% else %}
                <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="Default Image">
                {% endif %}
                <div class="property-details">
                    <h2 class="property-title">{{ property.title }}</h2>
                    <p class="property-price">$ {{ property.price }}</p>
                    <p class="property-location">{{ property.location }}</p>
                    <p class="property-description">{{ property.description }}</p>
                    <a href="{{ url_for('view_property', property_id=property.id) }}" class="btn btn-view-details">View Details</a>
                    {% if current_user.is_authenticated and current_user.is_admin %}
                        <a href="{{ url_for('modify_properties', property_id=property.id) }}" class="btn btn-primary btn-modify">Modify</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
{% endblock %}

{% block scripts %}
    <!-- Add custom scripts for properties.html if necessary -->
    <script>
        // You can add JavaScript logic here
    </script>
{% endblock %}
