{% extends 'base.html' %}

{% block title %}Property Detail - {{ property.title }}{% endblock %}

{% block styles %}
<style>
    /* Custom styles */
    .property-detail-section {
        font-family: 'Arial', sans-serif;
        color: #333;
    }

    .property-description {
        display: none;
    }

    .property-image {
        cursor: pointer;
        height: 200px; /* Set fixed height for images */
        width: auto; /* Auto width to maintain aspect ratio */
    }
    
    .side-panel {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    #propertyMap {
        height: 300px;
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="property-detail-section">
                <h2>{{ property.title }}</h2>
                <div id="propertyCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <ol class="carousel-indicators">
                        {% for image in property.images %}
                        <li data-target="#propertyCarousel" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for image in property.images %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="{{ image.url }}" class="d-block w-100 property-image" alt="{{ property.title }}">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#propertyCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#propertyCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="mt-3">
                    <button class="btn btn-primary toggle-description">Toggle Description</button>
                    <p class="property-description">{{ property.description }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="side-panel">
                <p><strong>Price:</strong> ${{ property.price }}</p>
                <p><strong>Location:</strong> {{ property.location }}</p>
                <p><strong>Bedrooms:</strong> {{ property.num_bedrooms }}</p>
                <p><strong>Bathrooms:</strong> {{ property.num_bathrooms }}</p>
                <p><strong>Area:</strong> {{ property.area }} sq. m</p>
                <p><strong>Amenities:</strong><br>{{ property.amenities }}</p>
                <p><strong>Year Built:</strong> {{ property.year_built }}</p>
                <div id="propertyMap"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
<script>
    // Initialize Google Maps
    function initMap() {
        var propertyLocation = { lat: {{ property.latitude }}, lng: {{ property.longitude }} };
        var map = new google.maps.Map(document.getElementById('propertyMap'), {
            zoom: 15,
            center: propertyLocation
        });
        var marker = new google.maps.Marker({
            position: propertyLocation,
            map: map
        });
    }

    $(document).ready(function () {
        // Toggle property description visibility
        $('.toggle-description').click(function () {
            $('.property-description').toggle();
        });

        // Open full-size image in new window when clicked
        $('.property-image').click(function () {
            var imageUrl = $(this).attr('src');
            window.open(imageUrl, '_blank');
        });
    });
</script>
{% endblock %}
